<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  {% block meta %}{% endblock %}
  <title>Habit Tracker - {% block title %}Home{% endblock %}</title>
</head>
<body class="bg-light-blue">
  <header> 
  {% if request.user.is_authenticated %}
    Logged in as {{ request.user }} <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" href="{% url 'auth_logout' %}">Logout</a>
  {% else %}
    <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" href="{% url 'auth_login' %}">Login</a> |
    <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-black" href="{% url 'registration_register' %}">Register</a>
  {% endif %}
  </header>
  {% block content %}
  {% endblock %}
</body>
</html>
